.profile__edit{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 15px;
    right: 0;
    transition: 1.5s ease-in-out;
    cursor: pointer;
}
.profile__edit:hover{
    opacity: 0.6;
}
@media screen and (max-width: 710px){
    .profile__edit{ 
        position: static;
        margin-left: 10px;
    }
}