.profile__edit{
    width: 24px;
    height: 24px;
    transition: 1.5s ease-in-out;
    cursor: pointer;
}
.profile__edit:hover{
    opacity: 0.6;
}
@media screen and (max-width: 710px){
    .profile__edit{ 
        margin-left: 10px;
    }
}