.header{
    border-bottom: 1px solid rgb(84,84,84,0.7);
    width: 100%;
}
@media screen and (max-width: 560px){
    .header{
        box-sizing: border-box; 
        min-width: 320px;
        padding:28px 0 31.6px 27px;
    }
}